* {
margin: 0;
padding: 0;
top: 0;
list-style: none;
bottom: 0;
}

body {
background-color: #fff;
width: 100%;

}


.Aph {
    background-image: url();
    position: relative;
    width: 100%;
}

.nav-list {
    background-color: rgba(174, 187, 202, 0.7);
    position: fixed;
    display: none;
    flex-direction: column;
    width: 100%;
    height: 790px;
    list-style: none;
    backdrop-filter: blur(5px);
     top: 0;
    left: 0;
    right: 0;
}

/* menu icon */

.toggler {
    gap: 2px;
    top: -42px;
    left: 313px;
    margin-top: 16px;
    bottom: 80px;
    margin-left: 19em;
}

.padding {
    display: none;
}

.tog {
    width: 2rem;
    border: 1px solid rgb(184, 180, 180);
    margin-top: 4px;
}

.m-none {
    background-image: linear-gradient(rgba(253, 253, 253, 0.76), rgba(94, 65, 199, 0.576)), url("./photos/tech3.jpg");
    height: 53px;
    width: 100%;
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.close {
    color: rgb(54, 54, 54);
    margin-left: 312px;
    margin-top: 12px;
    font-size: 42px;
}

.li {
    font-size: 33px;
    font-family: 'inter', sans-serif;
    font-weight: bold;
    margin-left: 5rem;
    letter-spacing: 1px;
    line-height: 46px;
    color: #242222;
    list-style: none;

}

.prg {
    color: rgb(66, 69, 77);
    font-family: "\"Courier New\", Courier, monospace", sans-serif;
    width: 323px;
    line-height: 24px;
    padding-right: 24px;
    font-weight: 400;
    padding-left: 24px;
}

h1.alphah1 {
    width: 327px;
    padding-top: 3em;
    padding-bottom: 1em;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    font-family: 'Cocogoose', sans-serif;
    background-image: linear-gradient(rgba(17, 0, 255, 0.76), rgba(255, 51, 0, 0.575)), url(./photos/tech.jpg);
    background-repeat: repeat;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
    margin-left: 24px;
    margin-right: 24px;
}

.tech-frames {
    display: none;
    color: #FFF
}

   /* media queries */
@media screen and (min-width: 768px) {
    .m-none {
        display: flex;
        font-size: 24px;
        height: 6px;
        height: 80px;
        justify-content: space-around;

    }

.close {
    display: none;
}

    .toggler {
        display: none;
    }

    h1.alphah1 {
        width: 865px;
        padding-top: 2em;
        font-size: 60px;
        padding-left: 9%;
    }

    .flex {
        background-image: linear-gradient(rgba(9, 5, 199, 0.76), rgba(245, 53, 10, 0.575)), url(./photos/tech2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: row;
        height: 80px;
    }
    
    .li {
        font-size: 24px;
        margin-top: 12px;
        color: rgb(248, 248, 248);
    }

    .footer {
        background-color: #37517e;
        width: 100%;
        height: 100%;
    }

    .intro-b {
        /* height: 560px;
        background: url("./photos/techimg1.jpg");
        background-repeat: no-repeat;
        background-position:  698px 67px;
        background-size: 400px;
        background-color: rgb(255, 255, 255, 0.92); */

    }

    .apha-section {
        height: 560px;
        background: url("./photos/techimg1.jpg");
        background-repeat: no-repeat;
        /* background-position:  240px 0px; */
        background-size: cover;
    }

    .bgc {
        background-color: rgb(255, 255, 255, 0.92);
        height: 560px;
    }

    .prg {
        width: 460px;
        padding-left: 14rem;
        line-height: 24px;
        font-weight: 500;
    }

    .padding {
        display: flex;
        padding-right: 14rem;
    }

    .alpha-flex {
      display: flex;
      flex-direction: row;
      gap: 4rem
    }

    .tech-frames {
        display: grid;
        grid-template-columns: auto auto auto;
        color: #fff;
        list-style: none;
    }

    img.t-placeholder {
        font-size: 40px;
        width: 50px;
        height: 80px;
    }

    .auto {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .drop-down {
        display: none;
    }
}
